<br>
<div class="btn-group" role="group" aria-label="...">
  <form action = "/hit" method = "post"><button class=" btn btn-default btn-success">Hit</button></form>
  <form action = "/stay" method = "post"><button class="btn btn-default btn-warning">Stay</button></form>
</div>
