<form action = "/blackjack" method = "post">
  <input type = "number" placeholder = "$ amount of initial bet">
  <input type = "submit" value = "Place Bet">
</form>
<div><%= %></div>
<div><%= %></div>